# Default owners for everything in the repo.
# Kamesh Sampath <kamesh.sampath@snowflake.com>
# Jan Bilek <jan.bilek@snowflake.com>
# Oskar Lorek <oskar.lorek@snowflake.com>
* @sfc-gh-ksampath @sfc-gh-jbilek @sfc-gh-olorek
